@font-face
{
    font-family: lcars-title;
    /*src: url("tt0105m_.TTF") format("truetype");*/
    src: url("Helvetica Ultra Compressed.ttf") format("truetype");
    /*src: url("Swiss 911 Extra Compressed BT.ttf");*/
}

@font-face
{
    font-family: lcars;
    /*src: url("tt0106m0.TTF") format("truetype");*/
    /*src: url("Helvetica Ultra Compressed.ttf");*/
    /*src: url("Swiss 911 Extra Compressed BT.ttf");*/
    src: url("lcars.ttf");
}

*
{
    margin: 0px;
    padding: 0px;
}

::selection
{
    background-color: transparent;
}

html
{
    height: 100%;
    width: 100%;
}

html,body
{
    background-color: black;
    color: white;
    margin: 0px;
}

.panel
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: sans-serif;
}


/*
   ***************************************************************
                       TITLE BAR
   ***************************************************************
*/

.titlebar
{
    background-color: #FFCC99;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 25px;
    font-family: lcars-title;
    margin-bottom: 10px;
}

.titlebar:before
{
    content: '';
    background-color: black;
    float: left;
    width: 10px;
    height: 50px;
}


.title
{
    font-size: 60px;
    color: white;
    background-color: black;
    display: inline;
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 7px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: 43px;
    /*letter-spacing: 3px;*/
    /*border: solid 1px yellow;*/
}

/*
   ***************************************************************
                       FOOTER BAR
   ***************************************************************
*/

.footer
{
    background-color: #FFCC99;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 25px;
    font-family: lcars-title;
}

.footer:before
{
    content: '';
    background-color: black;
    float: left;
    width: 10px;
    height: 50px;
}
.footer:after
{
    content: '';
    background-color: black;
    float: right;
    width: 10px;
    height: 50px;
}


/*

.oldbody
{
    color: white;
    overflow: auto;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: black;
    border-bottom-left-radius: 20px;
}
*/



/*
   ***************************************************************
                       SPLIT PANELS
   ***************************************************************
*/

.splitpanel
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    background-color: #FFCC99;
    
    margin: 5px;
}

.splitpanel.leftborder
{
}

.splitpanel.bottomborder
{
    padding-bottom: 20px;
}

.splitpanel.topborder
{
    padding-top: 20px;
}

.splitpanel.leftborder.bottomborder
{
    border-bottom-left-radius: 40px;
}

.splitpanel.leftborder.topborder
{
    border-top-left-radius: 40px;
}

.splitpanel.rightborder.bottomborder
{
    border-bottom-right-radius: 40px;
}

.splitpanel.rightborder.topborder
{
    border-top-right-radius: 40px;
}

.blah
{
    background-color: black;
    position: absolute;
    left:   0px;
    top:    0px;
    right:  0px;
    bottom: 0px;
}

.splitpanel.bottomborder .blah
{
    bottom: 20px;
}

.splitpanel.topborder .blah
{
    top: 20px;
}

.splitpanel.leftborder.topborder .blah
{
    border-top-left-radius: 20px;
}
.splitpanel.leftborder.bottomborder .blah
{
    border-bottom-left-radius: 20px;
}
.splitpanel.rightborder.topborder .blah
{
    border-top-right-radius: 20px;
}
.splitpanel.rightborder.bottomborder .blah
{
    border-bottom-right-radius: 20px;
}

.splitpanel.leftborder .blah
{
    left: 125px;
}
.splitpanel.rightborder .blah
{
    right: 125px;
}

/*
   ***************************************************************
                            RELATION
   ***************************************************************
*/

.relation
{
    width: 100%;
    height: 20px;
}

.splitpanel.leftborder.topborder .relation
{
    margin-top: -20px;
    margin-left: 165px;
    border-left: solid 5px black;
}



/*
   ***************************************************************
                            BODY
   ***************************************************************
*/


.body
{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    overflow: auto;
    display: block;
}

.splitpanel.bottomborder .body
{
    bottom: 40px;
}

.splitpanel.topborder .body
{
    top: 40px;
}



/*
   ***************************************************************
                       SECTIONS
   ***************************************************************
*/


.section
{
    display: table-row;
    width: 100%;
    max-width: 100%;
}





.sectioncontent
{
    display: table-cell;
    padding-left: 20px;
    max-width: 100%;
    font-family: lcars;
    font-size: 20pt;
    letter-spacing: 1px;
}


.sectionheader:link
{
    text-decoration: none;
}

.sectionheader:visited
{
    text-decoration: none;
}


.splitpanel.leftborder .sectionheader
{
    width: 125px;
    text-align: right;
    padding-right: 4px;
}
.splitpanel.rightborder .sectionheader
{
    width: 125px;
    position: absolute;
    right: 0px;
    padding-left: 5px;
}

.sectionheader
{
    color: black;
    font-family: lcars;
    font-size: 1.5em;
    background-color: #FFCC99;
    letter-spacing: 1px;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    display: table-cell;
    height: 100%;
}


.sectionheader.alternate
{
    background-color: #FF9900;
}


.sectionheader:active
{
    text-decoration: none;
    background-color: #CC6666;
}


.section:first-of-type .sectionheader
{
    border-top: none;
   /*    border-top: solid 4px black;
   */
}

.section:last-of-type .sectionheader
{
   border-bottom: none;
   /*border-bottom: solid 4px black;
   */
}






/*
   ***************************************************************
                      Commands
   ***************************************************************
*/




.commandbar
{
    border-radius: 20px;
    background-color: #FFCC99;
    padding-left: 20px;
    padding-right: 20px;
    border-collapse: collapse;
    float: right;
}

.commandbutton
{
    background-color: #FFCC99;
    color: black;
    width: 100px;
    font-family: lcars;
    font-size: 20pt;
    line-height: 30px;
    text-align: center;
    display: table-cell;
    border-right: solid 5px black;
    border-left: solid 5px black;
    letter-spacing: 1px;
/*    width: 100%;
    display: block;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 3px;
    padding-right: 3px;
    box-sizing: border-box;
    vertical-align: bottom;
*/
    cursor: hand;
}

.commandbutton:active
{
    background-color: #CC6666;
}


.button
{
    background-color: #FFCC99;
    color: black;
    font-family: lcars;
    font-size: 20pt;
    line-height: 30px;
    letter-spacing: 1px;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    display: inline-block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    cursor: hand;
}


.button:active
{
    background-color: #CC6666;
}





/*
   ***************************************************************
                       SCROLL BAR
   ***************************************************************
*/




/* Turn on a 13x13 scrollbar */
::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}
 
/*::-webkit-scrollbar-button:vertical {
    background-color: red;
    border: 1px dashed blue;
}*/
 
/* Turn on single button up on top, and down on bottom */
/*::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
}*/
 
/* Turn off the down area up on top, and up area on bottom */
/*::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}*/
 
/* Place The scroll down button at the bottom */
/*::-webkit-scrollbar-button:vertical:increment {
    background-color: black;
    border: 1px dashed blue;
}*/
 
/* Place The scroll up button at the up */
/*::-webkit-scrollbar-button:vertical:decrement {
    background-color: purple;
    border: 1px dashed blue;
}*/
 
::-webkit-scrollbar-track:vertical {
    background-color: #FF9966;
    border: solid 5px black;
    
}
 
/* Top area above thumb and below up button */
/*::-webkit-scrollbar-track-piece:vertical:start {
    border: 1px solid #000;
    background-color: red;
}*/
 
/* Bottom area below thumb and down button */
/*::-webkit-scrollbar-track-piece:vertical:end {
    border: 1px dashed pink;
}*/
 
/* Track below and above */
/*::-webkit-scrollbar-track-piece {
    background-color: green;
    width: 1px;
    border: solid 2px black;
}*/
 
/* The thumb itself */
::-webkit-scrollbar-thumb:vertical {
    /*height: 50px;*/
    background-color: #FF9900;
}
 
/* Corner */
/*::-webkit-scrollbar-corner:vertical {
    background-color: black;
}*/
 
/* Resizer */
/*::-webkit-scrollbar-resizer:vertical {
    background-color: gray;
}
*/






